/* 

- Mobile: 375px
- Desktop: 1440px

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

*/

@import url("https://fonts.google.com/specimen/Lexend+Deca");
@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.App {
    display: flex;
    flex-direction: row;
    margin: 25vh auto;
    max-width: 980px;
  }

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  color: white;
  margin: 20px 0;
}

p {
  font-family: "Lexend+Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 20px 0;
  line-height: 27px;
  font-size: 15px;
}

.btnLearnMore {
  background-color: white;
  font-family: "Lexend+Deca", sans-serif;
  font-weight: 400;
  padding: 15px;
  border-radius: 20px;
  margin: 15px 0;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.card-sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 0 0 15px;
}

.card-sedans a {
  color: hsl(31, 77%, 52%);
}

.card-suvs {
  background-color: hsl(184, 100%, 22%);
}
.card-suvs a {
  color: hsl(184, 100%, 22%);
}

.card-luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 15px 15px 0;
}
.card-luxury a {
  color: hsl(179, 100%, 13%);
}

img {
    max-width: 80px;
}

@media screen and (max-width: 450px) {

  .App {
    flex-direction: column;
    max-width: 80vw;
    margin: 30px auto;
  }
  .card {
    width: 100%;
    align-items: flex-start;
    padding: 30px;
    justify-content: space-around;
  }

  .card-sedans {
    border-radius: 15px 15px 0 0;
  }

  .card-luxury {
    border-radius: 0 0 15px 15px;
  }

  img {
    max-width: 75px;
    margin: 20px 0;
  }
}
